*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  padding: 133px 30px;
  min-inline-size: 1140px;
}

.result__video-container {
  position: relative; /*для позициониования прелоадера*/
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  cursor: default;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: inherit;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__checkbox-list >
.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  min-inline-size: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex; /*для позиционирования ::before*/
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked +
.search-form__pseudo-checkbox::before {
  content:'';
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.content__details {
  inline-size: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative; /*для позициониования прелоадера*/
  margin-block-start: 26px;
  overflow-y: auto;
  block-size: 298px;
  min-inline-size: 404px;
}

/*ветикальные отступы между элементами, кроме последнего*/
.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  padding: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1; /*чтобы занял всё пространство, не занятое картинкой*/
  max-inline-size: 200px;
}

.content__video-card-title {
  margin-block-end: 6px;
  overflow: hidden;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  overflow: hidden;
  line-height: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  inline-size: 194px;
  block-size: 103px;
}

.button {
  align-self: flex-end;
  margin: 2px;
  border: 1px solid currentColor;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  min-block-size: 34px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  inline-size: 100%;
}

.more-button {
  min-inline-size: 395px;
  min-block-size: 34px;
}